* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 800px;
    max-height: auto;
    padding: 50px 20px;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #BEDDF9;
    background-image: url(Background-image1copy.jpg);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width:auto;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center; 
}

article {
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    color: #0057AD;
    font-size: 1rem;
    font-weight: 550;
}


article img {
    display: block;
    margin: 0 auto;
    width: 6rem;
}

ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    line-height: 2rem;
    font-size: 0.8rem;
}

.fa-check {
    color: #0057AD;
    margin-right: 0.5rem;
    font-size: 0.7rem;
}

.fa-times {
    color: red;
    margin-right: 0.5rem;
}


.price {
    color: #0057AD;
    font-weight: 900;
    display: flex;
    margin: .5rem 3rem 0 3rem;
}

.dollar {
    font-size: 2.3rem;
    margin: 0 .3rem;
    position: relative;
    bottom: .5rem;
}

.cent {
    position: relative;
    bottom: .25rem;
}

.monthly {
    font-size: .6rem;
    margin-left: 4.8rem;
    line-height: 0;
    position: relative;
    top: -.5rem;
    font-weight: 700;
}

button {
    background-color: #0057AD;
    color: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    width: 10rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}