* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #BEDDF9;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

article {
    padding: 1rem;
    background-color: white;
    margin: 0.5rem;
    padding: 1rem 1rem;
}

h2 {
    text-align: center;
    color: #0080FF;
    font-size: 1rem;
    font-weight: 550;
}


article img {
    display: block;
    margin: 0 auto;
    width: 6rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    line-height: 2rem;
    font-size: 0.8rem;
}

.fa-check {
    color: #0080ff;
    margin-right: 0.5rem;
    font-size: 0.7rem;
}
.fa-times {
    color: red;
    margin-right: 0.5rem;
}


.price {
    color: #0080ff;
    font-weight: 900;
    display: flex;
    margin: .5rem 3rem 0 3rem;
}

.dollar {
    font-size: 2.3rem;
    margin: 0 .3rem;
    position: relative;
    bottom: .5rem;
}

.cent {
    position: relative;
    bottom: .25rem;
}

.monthly {
font-size: .6rem;
margin-left: 4.5rem;
line-height: 0;
position: relative;
top: -.5rem;
font-weight: 700;
}

button {
    background-color: #0080ff;
    color: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    width: 10rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}